
<h1>Commande <small>/ <span ng-if="action == 'add'">Ajouter</span><span ng-if="action == 'edit'">Édition da la Commande &laquo; {{ command.id_commande }} &raquo;</span></small></h1>
<hr />

<form role="form" class="form-horizontal" ng-submit="submitForm()">
  <span ng-if="action == 'edit'">
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" placeholder="ID" ng-model="command.id_commande" ng-disabled="action == 'edit'">
    </div>
  </span>
  <div class="form-group">
    <label>Login</label>
    <select class="form-control ng-pristine ng-valid" ng-model="command.login" ng-options="user.login as user.login for user in users" ng-selected="command.login"></select>
  </div>
  <div class="form-group">
    <label>Période de début</label>
    <input type="text" class="form-control" placeholder="Période Début" ng-model="command.periode_debut">
  </div>
  <div class="form-group">
    <label>Période de fin</label>
    <input type="text" class="form-control" placeholder="Période Fin" ng-model="command.periode_fin">
  </div>
  <div class="form-group">
    <label>Etat de la commande</label>
    <input type="radio" ng-model="command.state" ng-value="1" ng-checked="command.state == 1"/>En cours de validation
    <input type="radio" ng-model="command.state" ng-value="2" ng-checked="command.state == 2"/>Validé
    <input type="radio" ng-model="command.state" ng-value="3" ng-checked="command.state == 3"/>Servie
  </div>
  <button type="submit" class="btn btn-default">Enregistrer</button>
</form>