
<h1>Produit <small>/ <span ng-if="product.action == 'add'">Ajouter</span><span ng-if="product.action == 'edit'">Édition de produit &laquo; {{ product.id_product }} &raquo;</span></small></h1>
<hr />

<form>
  <div class="form-group">
    <label>ID</label>
    <input type="text" class="form-control" placeholder="ID" ng-model="product.id_product" ng-disabled="product.action == 'edit'">
  </div>
  <div class="form-group">
    <label>Nom</label>
    <input type="text" class="form-control" placeholder="Nom" ng-model="product.name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Description" ng-model="product.description">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <button type="submit" class="btn btn-default">Enregistrer</button>
</form>