<!DOCTYPE html>
<html ng-app="foyerApp" lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

  <title>App Web Foyer</title>
  <link rel="icon" type="image/png" href="img/logo.png" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel='stylesheet' href='css/bootstrap.min.css'>
  <link rel='stylesheet' href='css/onsen-css-components.css'>
  <link rel='stylesheet' href='css/onsenui.css'>
  <link rel="stylesheet" href="css/main.css" />

  <!--<script type="text/javascript" src="vendors/cordova.js"></script>-->
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src='vendors/onsenui.min.js'></script>
  <script type="text/javascript" src='vendors/angular-sanitize.min.js'></script>
  <script type="text/javascript" src='vendors/angular-route.min.js'></script>
  <script type="text/javascript" src='vendors/jquery.min.js'></script>

  <script src="js/app.js"></script>
  <script src="js/directives/directives.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/notification.js"></script>
  <script src="js/controllers/product.js"></script>
  <script src="js/controllers/cart.js"></script>
  <script src="js/controllers/command.js"></script>
  <script src="js/controllers/home.js"></script>
</head>
<body ng-controller="mainController" ng-class="{logout: isLogged == false}">

  <ons-sliding-menu
    max-slide-distance="250px"
    main-page="page.html"
    menu-page="menu.html"
    side="left"
    var="menu">
  </ons-sliding-menu>

  <ons-template id="menu.html">
    <ons-list>
      <ons-list-item style="text-align:center">
        <img src="img/logo.png" height="80" />
        <h2>{{ login }}</h2>
      </ons-list-item>
      <ons-list-item modifier="chevron tappable" style="cursor: pointer;" onclick="window.location='#home';menu.closeMenu();">
        <i class="fa fa-home"></i>  Accueil
      </ons-list-item>
      <ons-list-item modifier="chevron tappable" style="cursor: pointer;" onclick="window.location='#product';menu.closeMenu();">
        <i class="fa fa-cutlery"></i>  Produits
      </ons-list-item>
      <ons-list-item modifier="chevron tappable" style="cursor: pointer;" onclick="window.location='#cart';menu.closeMenu();">
        <i class="fa fa-shopping-basket"></i>  Panier ({{ cart.length }})
      </ons-list-item>
      <ons-list-item modifier="chevron tappable" style="cursor: pointer;" onclick="window.location='#command';menu.closeMenu();">
        <i class="fa fa-pencil-square"></i>  Commandes
      </ons-list-item>
      <ons-list-item modifier="chevron tappable" style="cursor: pointer;" onclick="window.location='#notification';menu.closeMenu();">
        <i class="fa fa-envelope"></i>  Notifications
      </ons-list-item>
      <ons-list-item>
          <br/>
      </ons-list-item>
      <ons-list-item ng-click="logout()">
        <i class="fa fa-power-off"></i>  Déconnexion
      </ons-list-item>
    </ons-list>
  </ons-template>

  <script type="text/ons-template" id="page.html">
    <ons-page>
      <ons-toolbar ng-show="isLogged">
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">{{ title }}</div>
      </ons-toolbar>

      <div id="main">
        <div ng-view></div>
      </div>

    </ons-page>
  </script>

</body>
</html>
