<h1>Panier <small>/ Article(s) <span ng-show="cart">({{ getCartQuantity() }})</span></small></h1>
<hr />

<p ng-show="cart.length === 0" style="text-align:center">Aucun résultat<span>, votre panier est vide</span>.</p>

<button ng-show="cart.length !== 0" class="button button--large--cta" ng-click="deleteCartAll()">Vider votre Panier</button><br>

<div ng-hide="cart.length === 0">
  <ul class="list">
    <li class="list__header">Panier</li>
    <li ng-repeat="product in cart" class="list__item list__item--chevron" ng-click="go('#product/'+product.id_product)">{{ product.name }} - {{ product.price }}€<span class="notification" style="text-align:right">{{ product.quantity }}</span></li>
    <li class="list__header"><strong>Total : {{ getCartTotal() }}€</strong></li>
  </ul>
</div>