<h1>Commandes <small>/ Liste <span ng-show="commands">({{ commands.length }})</span></small></h1>
<hr />

<ons-icon
  ng-hide="loaded"
  icon="rotate-right"
  size="40px"
  spin="true"
  style="text-align: center;width: 100%;">
</ons-icon>

<div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr ng-hide="(commands | filter:filterCheckBox | filter:search).length == 0">
        <th>
          <a ng-click="orderByField = '-id_command'; sortReverse=!sortReverse">Id</a>
          <span ng-show="orderByField == '-id_command'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-login'; sortReverse=!sortReverse">Login</a>
          <span ng-show="orderByField == '-login'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-commande'; sortReverse=!sortReverse">Commande</a>
          <span ng-show="orderByField == '-commande'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-total'; sortReverse=!sortReverse">Total</a>
          <span ng-show="orderByField == '-total'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode'; sortReverse=!sortReverse">Période</a>
          <span ng-show="orderByField == '-periode'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-commande_date'; sortReverse=!sortReverse">Date de commande</a>
          <span ng-show="orderByField == '-commande_date'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{'success':command.state == 3,
      'danger':command.state == 1,
      'warning':command.state == 2,
      'info':command.state == 0}"
      ng-repeat="command in commands | filter:filterCheckBox | filter:search | orderBy:orderByField:sortReverse">
      <td>{{ command.id_command }}</td>
      <td>{{ command.login }}</td>
      <td>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#{{ command.id_command }}" aria-expanded="false">Plus d'informations sur la commande</button>
        <div class="collapse" id="{{ command.id_command }}">
          <br/>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in command.product">
              <span class="badge">{{ product.quantity }}</span>
              {{ product.name }} - {{ product.price}}€/u
            </li>
            <li class="list-group-item">
              <strong>Total : {{ command.total }}€</strong>
            </li>
          </ul>
        </div>
      </td>
      <td>{{ command.total }}€</td>
      <td>{{ command.periode_debut }} - {{ command.periode_fin }}</td>
      <td>{{ command.date | date:'dd-MM-yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
