<h1>Commandes <small>/ Liste <span ng-show="commands">({{ commands.length }})</span></small></h1>
<hr />

<ons-icon
  ng-hide="loaded"
  icon="rotate-right"
  size="40px"
  spin="true"
  style="text-align: center;width: 100%;">
</ons-icon>

<div ng-hide="commands.length === 0">
  <ul class="list">
    <li class="list__header">Commandes</li>
    <li 
    ng-repeat="command in commands"
    class="list__item list__item--chevron"
    ng-click="go('#command/'+command.id_command)"
    ng-class="{'list-group-item-success':command.state == 3,
      'list-group-item-danger':command.state == 1,
      'list-group-item-warning':command.state == 2,
      'list-group-item-info':command.state == 0}">
    Le {{ command.date | date:'dd-MM-yyyy' }} entre {{ command.periode_debut }} - {{ command.periode_fin }} - {{ command.total }}€
    <span class="notification" style="text-align:right">{{ command.quantity }}</span></li>
  </ul>
</div>
