<form role="form" name="loginForm">
  <div class="login-form">
    <h1><img src="img/logo.png" height="80" /> App Web Foyer</h1>
    <p>Remplissez le formulaire ci-dessous avec vos identifiants ENT.</p>
    <div class="alert alert-danger" role="alert" ng-show="loginMessage">
      <p>{{ loginMessage }}</p>
    </div>
    <input type="text" class="text-input--underbar" placeholder="Nom utilisateur" ng-model="user.username">
    <input type="password" class="text-input--underbar" placeholder="Mot de passe" ng-model="user.password">
    <br><br>
    <ons-button modifier="large" class="login-button" type="submit" ng-click="login(user)">
    Connexion
    <ons-icon
    ng-show="connect"
    icon="rotate-right"
    size="20px"
    spin="true"
    style="text-align: center;margin-left:10px;">
    </ons-icon>
    </ons-button>
  </div>
</form>