<h1>Produits <small>/ Liste <span ng-show="loaded">({{ products.length }})</span></small></h1>
<hr/>

<ons-icon
  ng-hide="loaded"
  icon="rotate-right"
  size="40px"
  spin="true"
  style="text-align: center;width: 100%;">
</ons-icon>

<ons-list>
  <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="product in products">
    <ons-row>
      <ons-col width="95px">
        <img src="{{ apiUrl }}files/product/{{ product.image }}" class="thumbnail">
      </ons-col>
      <ons-col>
        <div class="name">
          {{ product.name }} <a class="btn btn-primary" ng-click="addCart(product)"><i class="fa fa-shopping-basket"></i></a>
        </div>
        <a href="#product/{{product.id_product}}">test</a>
        <div class="location">
          {{ product.price }}€
        </div>
        <div class="desc" ng-bind-html="product.description">
        </div>
      </ons-col>
      <ons-col width="40px"></ons-col>
    </ons-row>
  </ons-list-item>
</ons-list>