<h1>Commande <small>/ Liste <span ng-show="commands">({{ (commands | filter:search).length }})</span></small></h1>
<hr />

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>{{ alert }}
</div>

<p><a href="#command/add" class="btn btn-default">Ajouter une Commande</a></p>

<div class="form-group">
  <label>Etat des commandes : </label>
  <label ng-repeat="(key, text) in roles">
    <input type="checkbox" checklist-model="states" checklist-value="key"> {{text}}
  </label>
</div>

<div class="alert alert-info" role="alert" ng-hide="loaded">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(commands | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr ng-hide="(commands | filter:search).length == 0">
        <th>
          <a ng-click="orderByField = '-id_command'; sortReverse=!sortReverse">Id</a>
          <span ng-show="orderByField == '-id_command'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-login'; sortReverse=!sortReverse">Login</a>
          <span ng-show="orderByField == '-login'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-commande'; sortReverse=!sortReverse">Commande</a>
          <span ng-show="orderByField == '-commande'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-total'; sortReverse=!sortReverse">Total</a>
          <span ng-show="orderByField == '-total'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode'; sortReverse=!sortReverse">Période</a>
          <span ng-show="orderByField == '-periode'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-commande_date'; sortReverse=!sortReverse">Date de commande</a>
          <span ng-show="orderByField == '-commande_date'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th class="table-actions">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{'success':command.state == 3,
      'danger':command.state == 1,
      'warning':command.state == 2,
      'info':command.state == 0}"
      ng-repeat="command in commands | filter:search | orderBy:orderByField:sortReverse"
      ng-hide="!(states.indexOf(command.state) + 1)">
      <td>{{ command.id_command }}</td>
      <td>{{ command.login }}</td>
      <td>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#{{ command.id_command }}" aria-expanded="false">Plus d'informations sur la commande</button>
        <div class="collapse" id="{{ command.id_command }}">
          <br/>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in command.product">
              <span class="badge">{{ product.quantity }}</span>
              {{ product.name }} - {{ product.price}}€/u
            </li>
            <li class="list-group-item">
              <strong>Total : {{ command.total }}€</strong>
            </li>
          </ul>
        </div>
      </td>
      <td>{{ command.total }}€</td>
      <td>{{ command.periode_debut }} - {{ command.periode_fin }}</td>
      <td>{{ command.date | date:'dd-MM-yyyy' }}</td>
      <td class="table-actions">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-sm" ng-click="confirm(command)" ng-show="command.state == 1">
            <span class="glyphicon glyphicon-ok"></span> Valider
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="final(command)" ng-show="command.state == 2">
            <span class="glyphicon glyphicon-cutlery"></span> Servie
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="delete(command)" ng-confirm-click="Êtes-vous sûr de vouloir supprimer {{command.id_commande}} ?" ng-show="command.state == 1 || command.state == 2">
            <span class="glyphicon glyphicon-remove"></span> Supprimer
          </button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a href="#command/edit/{{ command.id_command }}" class="btn"> Editer</a>
              </li>
              <li>
                <a ng-click="confirm(command)" class="btn" ng-disabled="command.state == 0 || command.state == 2 || command.state == 3">
                  Valider
                </a>
              </li>
              <li>
                <a ng-click="final(command)" class="btn" ng-disabled="command.state == 0 || command.state == 1 || command.state == 3">
                  Servie
                </a>
              </li>
              <li>
                <a ng-click="delete(command)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir supprimer {{command.id_command}} ?" ng-disabled="command.state == 0 || command.state == 3">
                  Supprimer
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
