<h1>Commande <small>/ Liste <span ng-show="commands">({{ (commands | filter:search).length }})</span></small></h1>
<hr />

<p><a href="#command/add" class="btn btn-default">Ajouter une Commande</a></p>

<div class="alert alert-info" role="alert" ng-hide="loaded">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(commands | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr ng-hide="(commands | filter:search).length == 0">
        <th>
          <a ng-click="orderByField = '-id_commande'; sortReverse=!sortReverse">Id</a>
          <span ng-show="orderByField == '-id_commande'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-login'; sortReverse=!sortReverse">Login</a>
          <span ng-show="orderByField == '-login'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-state'; sortReverse=!sortReverse">Etat</a>
          <span ng-show="orderByField == '-state'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode_debut'; sortReverse=!sortReverse">Période Début</a>
          <span ng-show="orderByField == '-periode_debut'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode_fin'; sortReverse=!sortReverse">Période Fin</a>
          <span ng-show="orderByField == '-periode_fin'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th class="table-actions">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="command in commands | filter:search | orderBy:orderByField:sortReverse">
        <td>{{ command.id_commande }}</td>
        <td>{{ command.login }}</td>
        <td>{{ command.state }}</td>
        <td>{{ command.periode_debut }}</td>
        <td>{{ command.periode_fin }}</td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a href="#command/edit/{{ command.id_commande }}">
                  Editer
                </a>
              </li>
              <li>
                <a ng-click="delete(command.id_commande)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir supprimer {{command.id_commande}} ?" ng-disabled="command.state == 0">
                  Supprimer
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
