<h1>Commande <small>/ Liste <span ng-show="commands">({{ (commands | filter:search).length }})</span></small></h1>
<hr />

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>{{ alert }}
</div>

<p><a href="#command/add" class="btn btn-default">Ajouter une Commande</a></p>

<div class="alert alert-info" role="alert" ng-hide="loaded">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(commands | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr ng-hide="(commands | filter:search).length == 0">
        <th>
          <a ng-click="orderByField = '-id_commande'; sortReverse=!sortReverse">Id</a>
          <span ng-show="orderByField == '-id_commande'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-login'; sortReverse=!sortReverse">Login</a>
          <span ng-show="orderByField == '-login'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-commande'; sortReverse=!sortReverse">Commande</a>
          <span ng-show="orderByField == '-commande'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode_debut'; sortReverse=!sortReverse">Période Début</a>
          <span ng-show="orderByField == '-periode_debut'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th>
          <a ng-click="orderByField = '-periode_fin'; sortReverse=!sortReverse">Période Fin</a>
          <span ng-show="orderByField == '-periode_fin'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th class="table-actions">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{'success':command.state == 3,
                    'danger':command.state == 1,
                    'warning':command.state == 2,
                    'info':command.state == 0}"
          ng-repeat="command in commands | filter:search | orderBy:orderByField:sortReverse">
        <td>{{ command.id_commande }}</td>
        <td>{{ command.login }}</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in command.product">
              <span class="badge">{{ product.quantity }}</span>
              {{ product.name }}
            </li>
            <li class="list-group-item active">
              Total : {{ command.total }}€
            </li>
          </ul>
        </td>
        <td>{{ command.periode_debut }}</td>
        <td>{{ command.periode_fin }}</td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a href="#command/edit/{{ command.id_commande }}" class="btn">
                  Editer
                </a>
              </li>
              <li>
                <a ng-click="confirm(command)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir valider {{command.id_commande}} ?" ng-disabled="command.state == 0 || command.state == 2 || command.state == 3">
                  Valider
                </a>
              </li>
              <li>
                <a ng-click="final(command)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir finaliser {{command.id_commande}} ?" ng-disabled="command.state == 0 || command.state == 1 || command.state == 3">
                  Servie
                </a>
              </li>
              <li>
                <a ng-click="delete(command)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir supprimer {{command.id_commande}} ?" ng-disabled="command.state == 0 || command.state == 2 || command.state == 3">
                  Supprimer
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
