
<h1>Commande <small>/ <span ng-if="action == 'add'">Ajouter</span><span ng-if="action == 'edit'">Édition da la Commande &laquo; {{ command.id_commande }} &raquo;</span></small></h1>
<hr />

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>{{ alert }}
</div>

<div class="alert alert-danger" role="alert" ng-show="form.periode_fin.$error.pattern || form.periode_debut.$error.pattern">Les périodes doivent être sous la forme XXhXX.</div>


<form role="form" name="form" class="form-horizontal" ng-submit="submitForm()">
  <span ng-if="action == 'edit'">
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" placeholder="ID" ng-model="command.id_commande" ng-disabled="action == 'edit'">
    </div>
  </span>
  <div class="form-group">
    <label>Login</label>
    <select class="form-control ng-pristine ng-valid" ng-model="command.login" ng-options="user.login as user.login for user in users" ng-selected="command.login" required></select>
  </div>

  <div class="form-group">
    <label>Commande</label>
    <br/>
    <button type="button" class="btn btn-default" aria-label="Ajouter un produit" ng-click="addProductList(productsList)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Supprimer un produit" ng-click="deleteProductList(productsList)">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
    <br/><br/>
    <select size="10" class="form-control ng-pristine ng-valid" ng-model="productsList" ng-options="(product.name+' - '+product.price+'€') group by product.first_letter for product in products track by product.id_product"></select>
  </div>

  <div class="form-group">
    <label>Liste de la commande</label>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Nom
          </th>
          <th>
            Prix Unitaire
          </th>
          <th>
            Quantité
          </th>
          <th>
            Prix
          </th>
          <th class="table-actions">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in command.product | filter:search | orderBy:orderByField:sortReverse">
        <td>{{ product.name }}</td>
        <td>{{ product.price }} €</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price * product.quantity }} €</td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="deleteProductList(product)">
              <span class="glyphicon glyphicon-minus"></span> Supprimer
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addProductList(product)">
              <span class="glyphicon glyphicon-plus"></span> Ajouter
            </button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <label>Total de la commande en €</label>
    <input type="text" class="form-control" ng-model="command.total" disabled="disabled">
  </div>

  <div class="form-group">
    <label>Période de début</label>
    <input name="periode_debut" type="text" class="form-control" placeholder="Période Début" ng-model="command.periode_debut" ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3])h[0-5][0-9]$/" required>
  </div>
  <div class="form-group">
    <label>Période de fin</label>
    <input name="periode_fin" type="text" class="form-control" placeholder="Période Fin" ng-model="command.periode_fin" ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3])h[0-5][0-9]$/" required>
  </div>
  <div class="form-group">
    <label>Date de commande</label>
    <p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="command.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label>Etat de la commande</label>
    <input type="radio" ng-model="command.state" ng-value="1" ng-checked="command.state == 1"/>En cours de validation
    <input type="radio" ng-model="command.state" ng-value="2" ng-checked="command.state == 2"/>Validée
    <input type="radio" ng-model="command.state" ng-value="3" ng-checked="command.state == 3"/>Servie
  </div>
  <div class="pull-right">
    <a href="#command" class="btn btn-default" ng-confirm-click="Êtes-vous sûr de vouloir annuler ?">Annuler</a>
    <a ng-if="action == 'edit'" class="btn btn-danger" ng-click="delete()" ng-confirm-click="Êtes-vous sûr de vouloir supprimer ?">Supprimer</a>
    <a class="btn btn-danger" ng-if="action == 'add'" ng-click="reinitialiser()" ng-confirm-click="Êtes-vous sûr de vouloir tout effacer ?">Ré-initialiser</a>
    <input type="submit" value="Valider" class="btn btn-primary" ng-disabled="form.periode_fin.$error.pattern || form.periode_debut.$error.pattern || command.login === ''"/>
  </div>
</form>
