<h1>Hello! <small>What's going on today?</small></h1>
<hr />

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-success" ng-if="true">
      <div class="panel-heading">
        <h3 class="panel-title clearfix"><span class="pull-left">Statistiques</span></h3>
      </div>
      <div
      line-chart
      line-data='command_stats'
      line-xkey='time_new'
      line-ykeys='["nb_command"]'
      line-labels='["Commandes"]'
      line-colors='["#3c763d"]'>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title clearfix"><span class="pull-left">Commandes à valider</span> <a href="#command" class="btn btn-xs btn-default pull-right">Consulter la liste complète</a></h3>
      </div>
      <table class="table table-condensed table-striped">
        <tbody>
          <tr ng-repeat="command_validate in commands_validate | limitTo: 10">
            <td>{{ command_validate.login }}</td>
            <td>{{ command_validate.periode_debut }}</td>
            <td>{{ command_validate.periode_fin }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>