<h1>Utilisateur <small>/ Liste <span ng-show="logins">({{ (logins | filter:search).length }})</span></small></h1>
<hr />

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>{{ alert }}
</div>

<p>
  <a class="btn btn-primary" ng-dialog="notification" ng-dialog-controller="notificationPopupController" ng-dialog-class="ngdialog-theme-default" ng-show-close="true" ng-dialog-data=""><i class="fa fa-envelope"></i> Envoyer une notification à tout les utilisateurs</a>
  <a style="margin-left:20px;" ng-click="delete()" class="btn btn-primary" ng-confirm-click="Êtes-vous sûr de vouloir supprimer les notifications brodacast ?"><i class="fa fa-times"></i> Supprimer les notifications broadcast</a>
</p>

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#notification_broadcast" aria-expanded="false">Voir les notifications broadcast</button>
<div class="collapse" id="notification_broadcast">
  <br/>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="(key,notification) in notifications | unique:'notification'" ng-if="notification.method == 1" >
      {{ notification.notification }}
    </li>
  </ul>
</div>
<br/><br/>

<div class="alert alert-info" role="alert" ng-hide="loaded">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(logins | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr ng-hide="(logins | filter:search).length == 0">
        <th>
          <a ng-click="orderByField = '-login'; sortReverse=!sortReverse">Login</a>
          <span ng-show="orderByField == '-login'">
            <span class="glyphicon glyphicon-chevron-down" ng-show="sortReverse"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="!sortReverse"></span>
          </span>
        </th>
        <th class="table-actions">
          Notifications
        </th>
        <th class="table-actions">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="login in logins | filter:search | orderBy:orderByField:sortReverse">
        <td>{{ login.login }}</td>
        <td>
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#{{ login.login }}" aria-expanded="false">Voir les notifications</button>
          <div class="collapse" id="{{ login.login }}">
            <br/>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="notification in notifications" ng-if="login.login == notification.login" ng-class="{'list-group-item-danger':notification.method == 0,'list-group-item-info':notification.method == 1,'list-group-item-success':notification.method == 2}">
                <span ng-if="notification.method == 0">Commande n°{{notification.id_command}} : </span>{{ notification.notification }}
              </li>
            </ul>
          </div>

        </td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a class="btn" ng-dialog="notification" ng-dialog-controller="notificationPopupController" ng-dialog-class="ngdialog-theme-default" ng-show-close="true" ng-dialog-data="{{ login }}">
                  Envoyer une notification
                </a>
              </li>
              <li>
                <a ng-click="delete(login.login)" class="btn" ng-confirm-click="Êtes-vous sûr de vouloir supprimer les notifications de {{login.login}} ?" >
                  Supprimer ses notifications
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Template de la popup de notification-->
<script type="text/ng-template" id="notification">
  <div class="ng-dialog-message">
    <h4 ng-show="!notification.login">Envoyer un message à tout les utilisateurs</h4>
    <h4 ng-show="notification.login">Envoyer un message à {{ notification.login }}</h4>
    <br/>
    <label>Message : </label>
    <textarea class="form-control" rows="5" ng-model="notification.notification" style="resize: none"></textarea>
  </div>
  <br/>
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="submitForm()" >Valider</button>
    <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()" >Annuler</button>
  </div>
</script>
