<!DOCTYPE html>
<html ng-app="foyerApp" lang="fr">
<head>
  <meta charset="utf-8" />
  <title>App Admin Foyer</title>
  <base href="/">
  <link rel="icon" type="image/png" href="img/logo.png" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/ngDialog-theme-default.min.css" />
  <link rel="stylesheet" href="css/ngDialog-theme-plain.min.css" />
  <link rel="stylesheet" href="css/ngDialog.min.css" />
  <link rel="stylesheet" href="css/fileinput.min.css" />
  <link rel="stylesheet" href="css/morris.min.css" />
</head>

<body ng-controller="mainController" ng-class="{logout: isLogged == false}">
  <nav class="navbar navbar-default" ng-show="isLogged">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <span><img src="img/logo.png" height="30"></span> Application Foyer
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><i class="fa fa-home"></i> Accueil</a></li>
        <li><a href="product"><i class="fa fa-shopping-cart"></i> Produits</a></li>
        <li><a href="command"><i class="fa fa-credit-card"></i> Commandes</a></li>
        <li><a href="user"><i class="fa fa-users"></i> Utilisateurs</a></li>
        <li><a href="parametre"><i class="fa fa-gears"></i> Paramètres</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-power-off"></i> {{ login }}</a>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left ng-valid ng-dirty" role="search">
        <div class="form-group">
          <input type="text" class="form-control ng-valid ng-dirty" ng-model="search" placeholder="Filtrer les résultats" autofocus="true">
          <span class="glyphicon glyphicon-remove ng-hide" ng-click="search = ''" ng-show="search.length"></span>
        </div>
      </form>
    </div>
  </nav>

  <div id="main">
    <div ng-view></div>
  </div>

  <script src="vendors/jquery.min.js"></script>
  <script src="vendors/bootstrap.min.js"></script>
  <script src="vendors/raphael.min.js"></script>
  <script src="vendors/morris.min.js"></script>
  <script src="vendors/angular.min.js"></script>
  <script src="vendors/angular-locale_fr-fr.js"></script>
  <script src="vendors/angular-sanitize.min.js"></script>
  <script src="vendors/angular-route.min.js"></script>
  <script src="vendors/angular-dialog.min.js"></script>
  <script src="vendors/angular-morris-chart.min.js"></script>
  <script src="vendors/fileinput.min.js"></script>
  <script src="vendors/fileinput_locale_fr.js"></script>
  <script src="vendors/ui-bootstrap.min.js"></script>
  <script src="vendors/checklist-model.js"></script>

  <script src="js/app.js"></script>
  <script src="js/directives/directives.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/product.js"></script>
  <script src="js/controllers/command.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/parametre.js"></script>
  <script src="js/controllers/user.js"></script>
</body>
</html>
